<div id="su-form">
    <h2>Signup</h2>
    <p>Already have an account? <a routerLink="/login">Login</a></p>

    <p>{{ errorMessage }}</p>

    <form [formGroup]="formGroup" (ngSubmit)="signup()">

        <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email" />
        </mat-form-field>
  
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>
  
      <div class="d-flex justify-content-between">
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
          />
        </mat-form-field>
        <div style="width: 50px;"></div>
        <mat-form-field>
          <input
            matInput
            placeholder="Confirm password"
            formControlName="confirmPassword"
            type="password"
          />
        </mat-form-field>
      </div>
  
      <div>
        <button type="submit" class="btn btn-info">
          Signup
        </button>
      </div>

    </form>
</div>