<!--
<div class="loader-wrapper" [ngClass]="{'loaded':contentLoaded}">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
-->
<div class="justify-content-center align-items-center" style="display: flex;">
    
    <img src="../assets/img/logo.svg" alt="logo scritta" style="position: absolute; top: 20px; left: 30px; width: 7em;">
    
    <!--<canvas id="canvas" #canvas style="z-index: 1"></canvas>-->
    <app-animated-background style="display: flex; justify-content: center; align-items: center;"></app-animated-background>
    <!--<app-animated-background-2 style="width: 100%; position: absolute; z-index: 2;"></app-animated-background-2>-->
    <!--
    <div class="card">
      <div class="card-header">
    </div>
    -->
</div>