<form style="text-align: center;" [formGroup]="formGroup" (ngSubmit)="login()">

  <p>{{errorMessage | uppercase}}</p> 

  <mat-form-field style="width: 80%; margin-left: 10%; height: 3em;">
    <input matInput placeholder="E-mail" formControlName="email"/>
  </mat-form-field>

  <mat-form-field style="width: 80%; margin-left: 10%; height: 3em;">
    <input matInput placeholder="Password" type="password" formControlName="password"/>
  </mat-form-field>

  <p style="font-size: 0.9em; margin-bottom: 0; margin-top: 10px;">Don't have an account yet? <a routerLink="">Signup</a></p>

  <!--<button
    mat-raised-button
    type="submit"
    class="btn btn-info btn-round btn-just-icon"
    routerLink="app/dashboard"
  >
    <i class="material-icons">login</i>
    <div class="ripple-container"></div>
  </button>-->
  <button
    mat-raised-button
    type="submit"
    class="btn btn-info btn-round"
  >
    Login
  </button>
</form>
